
<% total_comments=0 %>

<%current_ticket= Ticket.find(params[:ticket_id])%>
<%current_chat= Chat.find(params[:chat_id])%>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>Comments</h1>
</div>
<br>

<div id="comments">
  <% @comments.each do |comment| %>
  <%if Chat.find(comment.chat_id) == current_chat  %>
      <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
    <%= render comment %>
    <%total_comments+=1  %>

    <%if current_user.Executive?  %>
        <% if params[:ticket_list_id].present?%>
          <p>
            <%= link_to "Comment information", user_ticket_list_ticket_chat_comment_path(current_user,current_ticket.ticket_list,current_ticket,current_chat,comment), class:"btn btn-warning mt-2" %>
          </p>
        <%else  %>
           <p>
            <%= link_to "Comment information", user_assign_ticket_ticket_chat_comment_path(current_user,current_ticket.assign_ticket,current_ticket,current_chat,comment), class:"btn btn-warning mt-2" %>
          </p>
        <%end  %>
      <%elsif current_user.Supervisor? or current_user.Administrator? %>
        <p>
          <%= link_to "Comment information", user_ticket_chat_comment_path(current_user,current_ticket,current_chat,comment), class:"btn btn-warning mt-2" %>
        </p>

      <%end  %>


      </div>
      <br>
    <%end  %>
  <% end %>
</div>

<%if total_comments < 2 %>
  <%= render partial: "layouts/adjust_background" %>
<%end  %>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<p class="mx-auto text-center", style="display: flex; flex-wrap: wrap;">

  <%if current_user.Executive?  %>
    
     <%= link_to "Back to chat", user_assign_ticket_ticket_chat_path(current_user,current_ticket.assign_ticket,current_ticket,current_chat), class:"btn btn-secondary mt-2", style:'margin-right: 10px;'%>


  <%elsif current_user.Supervisor? or current_user.Administrator? %>

     <%= link_to "Back to chat", user_ticket_chat_path(current_user,current_ticket,current_chat), class:"btn btn-secondary mt-2", style:'margin-right: 10px;'%>

  <%end  %>

  <%= link_to "Back to Home Page", root_path, class:"btn btn-outline-dark mt-2" , style:'margin-right: 10px;'%>
</p>
</div>
<br>