

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>Assign tickets</h1>
</div>
<br>

<div id="assign_tickets">
  <% @assign_tickets.each do |assign_ticket| %>
    <%if ( params[:user_id].present?)%>
      <%if (assign_ticket.user == current_user )or ((current_user.Administrator? or current_user.Supervisor?)and (assign_ticket.user==User.find(params[:user_id])) )%>
        <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
          <% @user_assign_ticket_example= assign_ticket  %>
          <%= render assign_ticket %>
          <p>
            <%= link_to "Show this assign ticket detaills", user_assign_ticket_path(assign_ticket.user,assign_ticket), class:"btn btn-warning mt-2", style:'margin-right: 10px;' %>
          </p>
          </div>
          <br>
      <%end  %>
    <%elsif (current_user.Supervisor? or current_user.Administrator?) and (not params[:user_id].present?)  %>
      <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
       <%= render assign_ticket %>
        <p>
          <%= link_to "Show this assign ticket detaills", assign_ticket_path(assign_ticket), class:"btn btn-warning mt-2", style:'margin-right: 10px;' %>
        </p>
      </div>
      <br>
    <%end  %>

  <% end %>
</div>


<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<p class="mx-auto text-center", style="display: flex; flex-wrap: wrap;">
  <%if not @user_assign_ticket_example.nil?  %>
    <%= link_to "See All Tickets", user_assign_ticket_tickets_path(current_user,@user_assign_ticket_example), class:"btn btn-primary mt-2", style:'margin-right: 10px;'  %>
     <% @user_assign_ticket_example= @user_assign_ticket_example.user %>
  <%elsif (current_user.Supervisor? or current_user.Administrator?) and (not params[:user_id].present?) %>
    <% @user_assign_ticket_example= current_user %>
  <%else %> 
    <% @user_assign_ticket_example= User.find(params[:user_id])  %>
  <%end  %>

  <%if current_user.Supervisor? or current_user.Administrator? %>
    <%= link_to "New assign ticket",new_assign_ticket_path , class:"btn btn-success mt-2", style:'margin-right: 10px;' %>
  <%end %>
  <%= link_to "Back to the user", user_path(@user_assign_ticket_example), class:"btn btn-outline-info mt-2", style:'margin-right: 10px;'%>

  <%= link_to "Back to Home Page", root_path, class:"btn btn-dark mt-2" , style:'margin-right: 10px;'%>
</p>
</div>