<p style="color: green"><%= notice %></p>

<%= render @assign_ticket %>

<div>
  <%= link_to "Edit this assign ticket", edit_assign_ticket_path(@assign_ticket) %> |
  <%= link_to "Back to assign tickets", assign_tickets_path %>

  <%= button_to "Destroy this assign ticket", @assign_ticket, method: :delete %>
</div>
