<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.profile == "Administrator" %>
    <div class="form-row admin-profile">
      <div class="form-group col-4 mx-auto text-center">
        <%= form.label :profile %><br />
        <%= form.select :profile, User.profiles.except(:Administrator).keys%>
      </div>
    </div>
  <% elsif current_user.profile == "Supervisor" %>
    <div class="form-row">
      <div class="form-group col-4 mx-auto text-center">
        <%= form.label :profile %><br />
        <%= form.select :profile, User.profiles.except(:Administrator, :Supervisor).keys %>
      </div>
    </div>
  <% end %>

  <br>
  <div class="actions">
      <%= form.submit "Update authority", class:' btn btn-success mt-2' %>
    </div>
<% end %>
