<p style="color: green"><%= notice %></p>
<div class="text-center">
<h1>Users</h1>
</div>
<br>
<div id="users">
  <% @users.each do |user| %>
  <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
    <%= render user %>
    <p>
      <%if current_user.Supervisor? and user.profile!="Administrator" %>
        <%= link_to "Show this user", user %>
      <%elsif current_user.Administrator? %>
        <%= link_to "Show this user", user %>
      <%end  %>
    </p>
    </div>
    <br>
  <% end %>
</div>
 <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<%= link_to "New user", new_user_path %>
</div>

<br>
 <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<%= link_to "Back to Home Page", "/"%>
</div>