<div class="container ">
<%= form_with(model: performance_report) do |form| %>
  <% if performance_report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(performance_report.errors.count, "error") %> prohibited this performance_report from being saved:</h2>

      <ul>
        <% performance_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   

  <div class="form-row ">
    <div class="form-group col-6 mx-auto text-center">
      <%= form.label "Select a user ", style: "display: block" %>
      <%= form.collection_select :user_id, User.where(profile: User.profiles[:Executive]), :id, :full_name %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Create/Update", class:' btn btn-success mt-2' %>
  </div>
<% end %>

</div>