

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>Performance reports</h1>
</div>
<br>

<div id="performance_reports">
  <% @performance_reports.each do |performance_report| %>
  <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
    <%= render performance_report %>
        <%if  current_user.Supervisor?  or current_user.Administrator?%>
          <p>
            <%= link_to "Show this performance report", user_performance_report_path(current_user.id,performance_report), class:"btn btn-warning mt-2" %>
          </p>

        <%end  %>
  </div>
  <br>
  <% end %>
</div>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<p class="mx-auto text-center", style="display: flex; flex-wrap: wrap;">
    <%if  current_user.Supervisor?  or current_user.Administrator?%>
        <%= link_to "New performance report", new_user_performance_report_path, class:"btn btn-success mt-2", style:'margin-right: 10px;' %>
        <%= link_to "Back to the user", user_path(current_user.id), class:"btn btn-outline-info mt-2", style:'margin-right: 10px;'%>
    <%end  %>

  <%= link_to "Back to Home Page", root_path ,class:"btn btn-outline-secondary mt-2"%>
</p>
</div>
