<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :incident_description, style: "display: block" %>
    <%= form.text_area :incident_description %>
  </div>

  <div>
    <%= form.label :creation_date, style: "display: block" %>
    <%= form.datetime_field :creation_date, value: Time.current, readonly: true%>
  </div>

  <div>
    <%= form.label :resolution_date, style: "display: block" %>
    <%= form.datetime_field :resolution_date %>
  </div>

  <div>
    <%= form.label :response_to_user_date, style: "display: block" %>
    <%= form.datetime_field :response_to_user_date %>
  </div>

  <div >
      <%= form.label :priority, style: "display: block"%>
      <%= form.select :priority, Ticket.priorities.keys %>
  </div>

   <div >
      <%= form.label :state, style: "display: block"%>
      <%= form.select :state, Ticket.states.keys %>
  </div>

  <div >
      <%= form.label :resolution_key, style: "display: block"%>
      <%= form.select :resolution_key, Ticket.resolution_keys.keys %>
  </div>

  <div >
      <%= form.label :response_key, style: "display: block"%>
      <%= form.select :response_key, Ticket.response_keys.keys %>
  </div>
  <div>
    <%= form.label :response_to_user, style: "display: block" %>
    <%= form.text_area :response_to_user %>
  </div>

  <div >
      <%= form.label :accept_or_reject_solution, style: "display: block"%>
      <%= form.select :accept_or_reject_solution, Ticket.accept_or_reject_solutions.keys %>
  </div>

  <div>
    <%= form.label :star_number, style: "display: block" %>
    <%= form.select :star_number, (0..5).to_a %>
  </div>

  <div>
    <%= form.label :limit_time_response, style: "display: block" %>
    <%= form.datetime_field :limit_time_response %>
  </div>

  <div>
    <%= form.label :limit_time_resolution, style: "display: block" %>
    <%= form.datetime_field :limit_time_resolution %>
  </div>


  <div>
    <%= form.label :files, style: "display: block" %>
    <%= form.file_field :new_files, multiple: true %>
  </div>

  <div>
    <%if params[:assign_ticket_id].present?  %>
      <%= form.text_field :assign_list_nothing, value: "assign"+" "+params[:assign_ticket_id], readonly: true, style: "display: none"%>
    <%elsif params[:ticket_list_id].present? %>
    <%= form.text_field :assign_list_nothing, value: "list"+" "+params[:ticket_list_id], readonly: true, style: "display: none"%>
    <%end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
