<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Incident description:</strong>
    <%= ticket.incident_description %>
  </p>

  <p>
    <strong>Requesting User:</strong>
    <%= ticket.ticket_list.user.email %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= ticket.creation_date %>
  </p>


  <p>
    <strong>Executive in charge:</strong>
    <%if not ticket.assign_ticket.nil?  %>
      <%= ticket.assign_ticket.user.email %>
    <%else %>
      Defining Executive
    <%end  %>
  </p>

  <p>
    <strong>Resolution date:</strong>
    <%= ticket.resolution_date %>
  </p>

  <p>
    <strong>Response to user date:</strong>
    <%= ticket.response_to_user_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>State:</strong>
    <%= ticket.state %>
  </p>

  <p>
    <strong>Resolution key:</strong>
    <%= ticket.resolution_key %>
  </p>

  <p>
    <strong>Response key:</strong>
    <%= ticket.response_key %>
  </p>

  <p>
    <strong>Response to user:</strong>
    <%= ticket.response_to_user %>
  </p>

  <p>
    <strong>Accept or reject solution:</strong>
    <%= ticket.accept_or_reject_solution %>
  </p>

  <p>
    <strong>Star number:</strong>
    <%= ticket.star_number %>
  </p>

  <p>
    <strong>Limit time response:</strong>
    <%= ticket.limit_time_response %>
  </p>

  <p>
    <strong>Limit time resolution:</strong>
    <%= ticket.limit_time_resolution %>
  </p>

</div>
