<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <p>
    <%= ticket.title %>
    </p>
  </p>

  <p>
    <strong>Incident description:</strong>
    <p>
    <%= ticket.incident_description %>
    </p>
  </p>

  <p>
    <strong>Requesting User:</strong>
    <p>
    <%= ticket.ticket_list.user.email %>
    </p>
  </p>

  <p>
    <strong>Creation date:</strong>
    <p>
    <%= ticket.creation_date.strftime("%e/%m/%Y") %>
    </p>
  </p>


  <p>
    <strong>Executive in charge:</strong>
    <%if not ticket.assign_ticket.nil?  %>
    <p>
      <%= ticket.assign_ticket.user.email %>
      </p>
    <%else %>
    <p>
      Defining Executive
    </p>
    <%end  %>
  </p>


<%if (current_user.Supervisor? or current_user.Administrator?) or (not current_user.User? and current_user!=ticket.ticket_list.user) %>
  <p>
    <strong>Resolution date:</strong>
    <%if ticket.resolution_date.to_date!=ticket.creation_date.to_date  %>
      <p>
      <%= ticket.resolution_date.strftime("%e/%m/%Y") %>
      </p>
    <%else  %>
      <p>
        In Progress
      </p>
    <%end  %>
  </p>

  <p>
    <strong>Priority:</strong>
    <p>
    <%= ticket.priority %>
    </p>
  </p>

  <p>
    <strong>State:</strong>
    <p>
    <%= ticket.state %>
    </p>
  </p>

  <p>
    <strong>Resolution key:</strong>
    <p>
    <%= ticket.resolution_key %>
    </p>
  </p>

  <p>
    <strong>Response key:</strong>
    <p>
    <%= ticket.response_key %>
    </p>
  </p>

<%end  %>


<%if (current_user.Supervisor? or current_user.Administrator?) or (ticket.response_key=="Response Done" and current_user==ticket.ticket_list.user)%>
  <p>
    <strong>Response to user:</strong>
    <p>
    <%if ticket.response_to_user.empty?%>
      Currently Empty
    <%else  %>
      <%= ticket.response_to_user %>
    <%end  %>
    </p>
  </p>

    <p>
    <strong>Response to user date:</strong>
    <%if ticket.response_to_user_date.to_date!=ticket.creation_date.to_date  %>
      <p>
      <%= ticket.response_to_user_date.strftime("%e/%m/%Y") %>
      </p>
    <%else  %>
      <p>
        In Progress
      </p>
    <%end  %>
  </p>

  <p>
    <strong>Accept or reject solution:</strong>
    <p>
    <%= ticket.accept_or_reject_solution %>
    </p>
  </p>

  <p>
    <strong>Star number:</strong>
    <p>
    <%if ticket.star_number == 6 %>
      Not rated yet
    <%else  %>
      <%= ticket.star_number %>
    <%end  %>
    </p>
  </p>

<%end %>


<%if (current_user.Supervisor? or current_user.Administrator?) or (not current_user.User? and current_user!=ticket.ticket_list.user) %>

    <%if ticket.limit_time_response.to_date!=ticket.creation_date.to_date  %>
    <p>
      <strong>Limit time response:</strong>
        <p>
        <%= ticket.limit_time_response.strftime("%e/%m/%Y") %>
        </p>
    </p>
    <%end  %>

   
    <%if ticket.limit_time_response.to_date!=ticket.creation_date.to_date  %>
    <p>
     <strong>Limit time resolution:</strong>
      <p>
      <%= ticket.limit_time_resolution.strftime("%e/%m/%Y") %>
      </p>
    </p>
    <%end  %>

<%end  %>


  <p>
    <strong>Attached Files:</strong>
    <%if ticket.files.empty? %>
    <p>
      There are no files attached
    </p>
    <%else  %>
    <p>
      <%= render "tickets/attachment", ticket: ticket%>
    </p>
    <%end %>
  </p>


<%if ((current_user.Executive? and ticket.ticket_list.user!=current_user )or current_user.Supervisor? or current_user.Administrator?) %>
  
  <div class="card mx-auto w-75 text-black text-center"style=" background-color: #E1F5A1">
    <p>
      <strong>Comments:</strong>
      <%if ticket.comments.empty? %>
        <p>
          <div class="card mx-auto  text-black text-center mt-2 bg-white">
            <%= "📥  "+"There are no comments yet"+"  📤" %>
          </div>
        </p>
      <%else  %>
        <p>
        <%= render partial:"comment", collection: ticket.comments%>
        </p>
      <%end %>
    </p>
  </div>


  <div class="card mx-auto w-50 text-black text-center mt-2"style=" background-color: #FE7C76">
    <p>
      <strong>Tags:</strong>
      <%if ticket.tags.empty? %>
        <p>
          <div class="card mx-auto  text-black text-center mt-2 bg-white">
            <%= "⚡  "+"There are no tags assign yet "+"  ⚡" %>
          </div>
        </p>
      <%else  %>
        <%= render partial:"tag", collection: ticket.tag_listing%>
      <%end %>
    </p>
  </div>

<%end  %>
</div>
