<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <h3>Report of tickets from <%= @start_end %></h3>
</div>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center mt-2">
  <div class="container">
    <div class="row">
      <div class="group col-3 mx-auto text-center">
          <strong>Created Tickets: </strong>
          <%=@tickets.count %>
      </div>
      <div class="group col-3 mx-auto text-center">
          <strong>Open Tickets: </strong>
          <%=@tickets_open.count %>
      </div>

      <div class="group col-3 mx-auto text-center">
          <strong>Closed Tickets: </strong>
          <%=@tickets_closed.count %>
      </div>

      <div class="group col-3 mx-auto text-center">
          <strong>Reopen Tickets: </strong>
          <%=@tickets_reopen.count %>
      </div>
    </div>
  </div>
</div>
<div class="card mx-auto w-50 p-3 bg-white text-black text-center mt-2">
  <div class="row">
    <h4>Histogram of <%= @start_end %></h4>
    <canvas id="myChart" width="400" height="300" data-title="<%= @title %>" data-labels="<%= @labels %>" data-data="<%= @data %>" data-backgroundColor="<%= @backgroundColor %>" data-borderColor="<%= @borderColor %>" data-borderWidth="<%= @borderWidth %>" data-options="<%= @options %>"></canvas>
  </div>
</div>

<br>
<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <%= link_to "Back to the Tickets Reports", user_ticket_report_path(current_user), class:"btn btn-secondary", style:'margin-right: 10px;' %>
</div>