<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <h1>Tickets</h1>
</div>

<br>


<div class="card mx-auto p-3 bg-white text-black text-center"style="width: 40rem;">
  <h5>Here will be display all the tickets you have made or have access to</h5>
</div>
<br>


<div class="card mx-auto p-3 text-black text-center" style="width: 40rem; background-color: #B5D3FF;">
<h5>Want to sort by Priority, Response Date or Resolution Date ??</h5>
  <div class="button-container d-flex justify-content-center">
    <button id="sortButtonPriority" type="button" class="btn  btn-success btn-sm" style="display: block; margin: 0 auto; margin-right: 10px;">Sort by Priority &#10607;</button>
    <button id="sortButtonClosing" type="button" class="btn  btn-success btn-sm" style="display: block; margin: 0 auto; margin-right: 10px;">Sort by Closing Date &#10607;</button>
    <button id="sortButtonResponse" type="button" class="btn  btn-success btn-sm" style="display: block; margin: 0 auto;">Sort by Response Date &#10607;</button>
  </div>
</div>
<br>

<div class="card text-black text-center" style="width: 30rem; font-size: 15px; background-color: #A0F5FF; margin: 0 auto;">
  <h5>Want to search an especific ticket??</h5>
  <a class="input-group m-1">
    <input class="form-control me-2" type="search" id="searchbar" placeholder="Search" aria-label="Search">
  </a>
  </div>
  <br>
  <div class="dropdown-menu " id="results-menu" aria-labelledby="navbarDropdown" style="width: 40rem; position: relative;
  left: 50%; top: 100%; transform: translate(-50%, -0%);">
    <div class="mx-auto p-3"id="results"></div>
  </div>



<br>
<div id="ticketContainer">
    <%@tickets.each do |t| %>
        <%if current_user.User?  %>
            <%if params[:ticket_list_id].present?%>
            <%if t.ticket_list.user==current_user%>
              <div class="ticket" 
                data-priority="<%=t.priority%>" 
                data-response_to_user_date="<%=t.response_to_user_date%>"
                data-resolution_date="<%=t.resolution_date%>">
                
                    <%= render partial:"ticket", locals: {ticket: t, index:"user"}%> 
                    
                <br>
              </div>
            <%end  %>
          <%else  %>
            <%if t.ticket_list.user==current_user%>
              <div class="ticket" 
            data-priority="<%=t.priority%>" 
            data-response_to_user_date="<%=t.response_to_user_date%>"
            data-resolution_date="<%=t.resolution_date%>">
            <%= render partial:"ticket", locals: {ticket: t,index:"just_show"}%>
            <br>
            </div>
              <%end  %>
          <%end  %>
        <%elsif current_user.Executive?  %>

            <% if params[:ticket_list_id].present?%>
                <% if t.ticket_list.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index: "executive_list"}%> 
                   
                    <br>
                    </div>
                <%end  %>

            <%elsif params[:assign_ticket_id].present?  %>
                <%if not t.assign_ticket.nil?  %>
                <% if t.assign_ticket.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index:"executive_assign"}%> 
                    
                    <br>
                    </div>
                <%end  %>
                <%end  %>
            <%else  %>
                <%if not t.assign_ticket.nil?  %>
                    <% if t.assign_ticket.user==current_user or t.ticket_list.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index:"just_show"}%> 
                        <br>
                    </div>
                    <%end  %>
                <%else  %>
                    <% if t.ticket_list.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index:"just_show"}%> 
                        <br>
                    </div>
                    <%end  %>
                <%end  %>
            <%end  %>


        <%elsif current_user.Supervisor? or current_user.Administrator?  %>
            
            <div class="ticket" 
            data-priority="<%=t.priority%>" 
            data-response_to_user_date="<%=t.response_to_user_date%>"
            data-resolution_date="<%=t.resolution_date%>">
             
            <%= render partial:"ticket", locals: {ticket: t,index:"supervisor_admin"}%>
            
            <br>
            
          </div>
        <%end  %>
            
    <%end %>
</div>





<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <p class="mx-auto text-center", style="display: flex; flex-wrap: wrap;">
    <%if not current_user.nil?%>

      <%if current_user.User? and params[:ticket_list_id].present? %>
          <%= link_to "Back to Ticket List", user_ticket_list_path(current_user.id,params[:ticket_list_id]), class:"btn btn-outline-primary", style:'margin-right: 10px;'%>
        
      <%elsif current_user.Executive?  %>

          <% if params[:ticket_list_id].present?%>
            <%= link_to "Back to Ticket List", user_ticket_list_path(current_user.id,params[:ticket_list_id]), class:"btn btn-outline-primary", style:'margin-right: 10px;'%>
          <%elsif params[:assign_ticket_id].present?  %>
            <%= link_to "Back to Assign Ticket", user_assign_ticket_path(current_user.id,params[:assign_ticket_id]), class:"btn btn-outline-dark", style:'margin-right: 10px;'%>
          <%end %>

      <%elsif  current_user.Supervisor?  or current_user.Administrator?%>
          <%= link_to "Back to the user", user_path(current_user.id), class:"btn btn-info", style:'margin-right: 10px;'%>
      <%end  %>

    <%end%>
      <%= link_to "Back to Home Page", root_path ,class:"btn btn-secondary"%>
  </p>
</div>

<script>
  document.addEventListener('turbo:load', () =>{
  // Cerrar el dropdown cuando se hace clic fuera del input o del dropdown
  document.addEventListener('click', function(event) {
    document.getElementById('results-menu').classList.remove('show');
  });
  
  document.getElementById('searchbar').addEventListener('keyup', event => {
    inputbar = document.getElementById('searchbar').value;
    result = document.getElementById('results');
    //console.log(inputbar)
    if (inputbar === "") {
      document.getElementById('results-menu').classList.remove('show');
    }
    else {
      fetch('/tickets/search?query='+inputbar)
      .then(response => response.text())
      .then(html => {
        // Analizar el HTML obtenido
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');

        // Obtener el elemento <div> con el nombre "datos"
        const datosDiv = doc.querySelector('div#datos');
        
        if (datosDiv) {
          document.getElementById('results-menu').classList.add('show');
          if (datosDiv.innerHTML.trim() === '') {
            // El div "datos" está vacío
            // Realiza la acción deseada aquí
            result.innerHTML = '<li><span class="dropdown-item-text">Not Found</span></li>';
          } else {
            // El div "datos" contiene contenido
            
            result.innerHTML = datosDiv.innerHTML

            //Change the color of the links
            links=document.getElementsByClassName("nav-link dropdown-item");
            for (var i = 0, len = links.length; i < len; i++) {
                links[i].style.color = "#000000 ";
            }
            
          }
        } else {
          console.log('No se encontró el div con el nombre "datos"');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  });
});

</script>


<script>
 document.addEventListener('turbo:load', () =>{
    var sortButtonPriority = document.getElementById('sortButtonPriority');
    var sortButtonClosing = document.getElementById('sortButtonClosing');
    var sortButtonResponse = document.getElementById('sortButtonResponse');

    var sortOrder = 'asc'; // Initial sort order
    var sortOrderClosing= "asc" // Initial sort order
    var sortOrderResponse = 'asc'; // Initial sort order


// Priority Sort
    sortButtonPriority.addEventListener('click', function() {
        sortOrder = sortOrder === 'asc' ? 'desc' : 'asc'; // Toggle sort order

        var tickets = Array.from(document.getElementsByClassName('ticket'));
        tickets.sort(function(a, b) {
        var priorityA = a.getAttribute('data-priority');
        var priorityB = b.getAttribute('data-priority');

        if (priorityA === priorityB) {
            return 0;
        } else if (sortOrder === 'asc') {
            return getPriorityValue(priorityA) - getPriorityValue(priorityB);
        } else {
            return getPriorityValue(priorityB) - getPriorityValue(priorityA);
        }
        });

        var container = document.getElementById('ticketContainer');
        tickets.forEach(function(ticket) {
        container.appendChild(ticket);
        });
    });
// Closing Sort
    sortButtonClosing.addEventListener('click', function() {
        sortOrderClosing = sortOrderClosing === 'asc' ? 'desc' : 'asc'; // Toggle sort order

        sortTicketsClosing();
    });

    function sortTicketsClosing() {
        var tickets = Array.from(document.getElementsByClassName('ticket'));
        tickets.sort(function(a, b) {
        var valueA = parseDateString(a.getAttribute('data-resolution_date'));
        // console.log(valueA);
        var valueB = parseDateString(b.getAttribute('data-resolution_date'));

        if (sortOrderClosing === 'asc') {
            return valueA - valueB;
        } else {
            return valueB - valueA;
        }
        });

        var container = document.getElementById('ticketContainer');
        tickets.forEach(function(ticket) {
        container.appendChild(ticket);
        });
    } 

// Response Sort
    sortButtonResponse.addEventListener('click', function() {
        sortOrderResponse = sortOrderResponse === 'asc' ? 'desc' : 'asc'; // Toggle sort order

        sortTickets();
    });

    function sortTickets() {
        var tickets = Array.from(document.getElementsByClassName('ticket'));
        tickets.sort(function(a, b) {
        var valueA = parseDateString(a.getAttribute('data-response_to_user_date'));
        // console.log(valueA);
        var valueB = parseDateString(b.getAttribute('data-response_to_user_date'));

        if (sortOrderResponse === 'asc') {
            return valueA - valueB;
        } else {
            return valueB - valueA;
        }
        });

        var container = document.getElementById('ticketContainer');
        tickets.forEach(function(ticket) {
        container.appendChild(ticket);
        });
    } 



    //To get date of the Time
    function parseDateString(dateString) {
        var parts = dateString.split(' ');
        var datePart = parts[0];
        return new Date(datePart);
    }

    //To get the value associate to priority
    function getPriorityValue(priority) {
        switch (priority) {
        case 'Low':
            return 0;
        case 'Normal':
            return 1;
        case 'High':
            return 2;
        case 'Urgent':
            return 3;
        default:
            return 9999; // Handle unknown priority values
        }
    }
});
</script>