<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <h1>Tickets</h1>
</div>

<br>


<div class="card mx-auto p-3 bg-white text-black text-center"style="width: 40rem;">
  <h5>Here will be display all the tickets you have made or have access to</h5>
</div>
<br>


<div class="card mx-auto p-3 text-black text-center" style="width: 40rem; background-color: #B5D3FF;">
<h5>Want to sort by Priority, Response Date or Resolution Date ??</h5>
  <div class="button-container d-flex justify-content-center">
    <button id="sortButtonPriority" type="button" class="btn  btn-success btn-sm" style="display: block; margin: 0 auto; margin-right: 10px;">Sort by Priority &#10607;</button>
    <button id="sortButtonClosing" type="button" class="btn  btn-success btn-sm" style="display: block; margin: 0 auto; margin-right: 10px;">Sort by Closing Date &#10607;</button>
    <button id="sortButtonResponse" type="button" class="btn  btn-success btn-sm" style="display: block; margin: 0 auto;">Sort by Response Date &#10607;</button>
  </div>
</div>
<br>

<div class="card text-black text-center" style="width: 30rem; font-size: 15px; background-color: #A0F5FF; margin: 0 auto;">
  <h5>Want to search an especific ticket??</h5>
  <a class="input-group m-1">
    <input class="form-control me-2" type="search" id="searchbar" placeholder="Search" aria-label="Search">
  </a>
  </div>
  <br>
  <div class="dropdown-menu " id="results-menu" aria-labelledby="navbarDropdown" style="width: 40rem; position: relative;
  left: 50%; top: 100%; transform: translate(-50%, -0%);">
    <div class="mx-auto p-3"id="results"></div>
  </div>



<br>
<div id="ticketContainer">
    <%@tickets.each do |t| %>
        <%if current_user.User?  %>
            <%if params[:ticket_list_id].present?%>
            <%if t.ticket_list.user==current_user%>
              <div class="ticket" 
                data-priority="<%=t.priority%>" 
                data-response_to_user_date="<%=t.response_to_user_date%>"
                data-resolution_date="<%=t.resolution_date%>">
                
                    <%= render partial:"ticket", locals: {ticket: t, index:"user"}%> 
                    
                <br>
              </div>
            <%end  %>
          <%else  %>
            <%if t.ticket_list.user==current_user%>
              <div class="ticket" 
            data-priority="<%=t.priority%>" 
            data-response_to_user_date="<%=t.response_to_user_date%>"
            data-resolution_date="<%=t.resolution_date%>">
            <%= render partial:"ticket", locals: {ticket: t,index:"just_show"}%>
            <br>
            </div>
              <%end  %>
          <%end  %>
        <%elsif current_user.Executive?  %>

            <% if params[:ticket_list_id].present?%>
                <% if t.ticket_list.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index: "executive_list"}%> 
                   
                    <br>
                    </div>
                <%end  %>

            <%elsif params[:assign_ticket_id].present?  %>
                <%if not t.assign_ticket.nil?  %>
                <% if t.assign_ticket.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index:"executive_assign"}%> 
                    
                    <br>
                    </div>
                <%end  %>
                <%end  %>
            <%else  %>
                <%if not t.assign_ticket.nil?  %>
                    <% if t.assign_ticket.user==current_user or t.ticket_list.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index:"just_show"}%> 
                        <br>
                    </div>
                    <%end  %>
                <%else  %>
                    <% if t.ticket_list.user==current_user%>
                    <div class="ticket" 
                        data-priority="<%=t.priority%>" 
                        data-response_to_user_date="<%=t.response_to_user_date%>"
                        data-resolution_date="<%=t.resolution_date%>">
                        <%= render partial:"ticket", locals: {ticket: t, index:"just_show"}%> 
                        <br>
                    </div>
                    <%end  %>
                <%end  %>
            <%end  %>


        <%elsif current_user.Supervisor? or current_user.Administrator?  %>
            
            <div class="ticket" 
            data-priority="<%=t.priority%>" 
            data-response_to_user_date="<%=t.response_to_user_date%>"
            data-resolution_date="<%=t.resolution_date%>">
             
            <%= render partial:"ticket", locals: {ticket: t,index:"supervisor_admin"}%>
            
            <br>
            
          </div>
        <%end  %>
            
    <%end %>
</div>





<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <p class="mx-auto text-center", style="display: flex; flex-wrap: wrap;">
    <%if not current_user.nil?%>

      <%if current_user.User? and params[:ticket_list_id].present? %>
          <%= link_to "Back to Ticket List", user_ticket_lists_path(current_user), class:"btn btn-outline-primary", style:'margin-right: 10px;'%>
        
      <%elsif current_user.Executive?  %>

          <% if params[:ticket_list_id].present?%>
            <%= link_to "Back to Ticket List", user_ticket_lists_path(current_user), class:"btn btn-outline-primary", style:'margin-right: 10px;'%>
          <%elsif params[:assign_ticket_id].present?  %>
            <%= link_to "Back to Assign Ticket", user_assign_tickets_path(current_user), class:"btn btn-outline-dark", style:'margin-right: 10px;'%>
          <%end %>

      <%elsif  current_user.Supervisor?  or current_user.Administrator?%>
          <%= link_to "Back to the user", user_path(current_user.id), class:"btn btn-info", style:'margin-right: 10px;'%>
      <%end  %>

    <%end%>
      <%= link_to "Back to Home Page", root_path ,class:"btn btn-secondary"%>
  </p>
</div>




