<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>New ticket</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>
  <%current_user= User.find(params[:user_id])%>
  <%if current_user.User? %>
  <p>
    <%= link_to "Back to tickets", user_ticket_list_tickets_path %>
    </p>
  <%elsif current_user.Executive?  %>
  <p>
  <% if params[:ticket_list_id].present?%>
    <%= link_to "Back to tickets", user_ticket_list_tickets_path %>
  <%else  %>
    <%= link_to "Back to tickets", user_assign_ticket_tickets_path %>
  <%end  %>
    </p>
  <%else  %>
  <p>
    <%= link_to "Back to tickets", user_tickets_path %>
    </p>
  <%end%>
</div>
</div>
