


<div>
  <%if current_user.User? %>
    <% if params[:ticket_list_id].present?%>
       <%= render partial:"ticket", locals: {ticket: @ticket, index:"show_user"}%>

    <%elsif not params[:user_id].present?  %>
     <%= render partial:"ticket", locals: {ticket: @ticket, index:"show_user"}%>

    <%end  %>

  <%elsif current_user.Executive?  %>
    <% if params[:ticket_list_id].present?%>
     <%= render partial:"ticket", locals: {ticket: @ticket, index:"show_executive_list"}%>

    <%elsif  params[:assign_ticket_id].present? %>
     <%= render partial:"ticket", locals: {ticket: @ticket, index:"show_executive_assign"}%>

    <%elsif not params[:user_id].present?  %>

      <%if @ticket.ticket_list.user ==current_user  %>
       <%= render partial:"ticket", locals: {ticket: @ticket, index:"show_executive_list"}%>

     <%elsif  not @ticket.assign_ticket.nil?  %>
        <%if @ticket.assign_ticket.user ==current_user  %>
         <%= render partial:"ticket", locals: {ticket: @ticket, index:"show_executive_assign_basic"}%>
          <%end  %>
      <%end  %>

    <%end  %>
  <%else  %>
   <%= render partial:"ticket", locals: {ticket: @ticket, index:"show_supervisor_admin"}%>

     
  <%end  %>



</div>
<br>