<%= render partial: "layouts/adjust_background" %>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h5><strong> Ticket report</strong></h5>
</div>
<br>
<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
    <div class="container ">
    <%= form_tag(user_ticket_reports_dates_search_path, method: :get, remote: true, id: 'search-form') do %>

        <div class="form-row ">
            <div class="form-group col-4 mx-auto text-center">
                <%= label_tag 'Start Date:' %>
                <%= text_field_tag 'start_date', nil, type: 'date',  class: "form-control" %>
            </div>
        </div>
        <br>
        <div class="form-row ">
            <div class="form-group col-4 mx-auto text-center">
                <%= label_tag 'End Date: ' %>
                <%= text_field_tag 'end_date', nil, type: 'date',  class: "form-control" %>
            </div>
        </div>

        <div class="actions">
            <%= submit_tag 'Search' , class:' btn btn-success mt-2' %>
        </div>
    <% end %>
    </div>
</div>

<br>


<div class="dropdown-menu" id="results-menu" aria-labelledby="navbarDropdown" style="width: 40rem; position: relative; left: 50%; top: 100%; transform: translate(-50%, -0%);">
  <div class="mx-auto p-3" id="results"></div>
</div>


<div class="card mx-auto w-50 p-3 bg-white text-black text-center">

    <%= link_to "Back to the user", user_path(params[:user_id]), class:"btn btn-info", style:'margin-right: 10px;' %>

</div>


<script>
document.addEventListener('DOMContentLoaded', () => {
  const form = document.getElementById('search-form');

  form.addEventListener('ajax:success', event => {
    const [data, _status, xhr] = event.detail;
    const resultsContainer = document.getElementById('results');
    resultsContainer.innerHTML = xhr.responseText;
  });

  form.addEventListener('ajax:error', _event => {
    console.error('Error occurred during search');
  });
});
</script>
