<%= form_with(model: tag) do |form| %>
  <% if tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

   <div>
    <%= form.label :tag_list_id, style: "display: none" %>
    <%= form.text_field :tag_list_id, value: @current_taglist_id, readonly: true, style: "display: none"%>
  </div>

  <div>
    <%if params[:assign_ticket_id].present?  %>
      <%= form.text_field :assign_list_nothing, value: "assign"+" "+params[:assign_ticket_id], readonly: true, style: "display: none"%>
    <%elsif params[:ticket_list_id].present?  %>
      <%= form.text_field :assign_list_nothing, value: "list"+" "+params[:ticket_list_id], readonly: true, style: "display: none"%>
    <%end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
