<p style="color: green"><%= notice %></p>

<%current_user= User.find(params[:user_id])%>
<%current_ticket= Ticket.find(params[:ticket_id])%>
<%current_taglist= TagList.find(params[:tag_list_id])%>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>Tags</h1>
</div>
<br>
<div id="tags">
  <% @tags.each do |tag| %>
    <%if TagList.find(tag.tag_list_id) == current_taglist  %>
      <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
        <%= render tag %>


        
      <%if current_user.Executive?  %>
        <% if params[:ticket_list_id].present?%>
          <p>
            <%= link_to "Show this tag ", user_ticket_list_ticket_tag_list_tag_path(current_user,current_ticket.ticket_list,current_ticket,current_taglist,tag) %>
          </p>
        <%else  %>
           <p>
            <%= link_to "Show this tag ", user_assign_ticket_ticket_tag_list_tag_path(current_user,current_ticket.assign_ticket,current_ticket,current_taglist,tag) %>
          </p>
        <%end  %>
      <%elsif current_user.Supervisor? or current_user.Administrator? %>
        <p>
          <%= link_to "Show this tag ", user_ticket_tag_list_tag_path(current_user,current_ticket,current_taglist,tag) %>
        </p>

      <%end  %>


      </div>
      <br>
    <%end  %>
  <% end %>
</div>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">


<%if current_user.Executive?  %>
  <% if params[:ticket_list_id].present?%>
  <p>
    <%= link_to "New tag ", new_user_ticket_list_ticket_tag_list_tag_path %>|
    <%= link_to "Back to tag list", user_ticket_list_ticket_tag_list_path(current_user,current_ticket.ticket_list,current_ticket,current_taglist)%>
  </p>
  <%else  %>
  <p>
    <%= link_to "New tag ", new_user_assign_ticket_ticket_tag_list_tag_path %>|
    <%= link_to "Back to tag list", user_assign_ticket_ticket_tag_list_path(current_user,current_ticket.assign_ticket,current_ticket,current_taglist)%>
  </p>
  <%end  %>

<%elsif current_user.Supervisor? or current_user.Administrator? %>
  <p>
    <%= link_to "New tag", new_user_ticket_tag_list_tag_path %>|
    <%= link_to "Back to tag list", user_ticket_tag_list_path(current_user,current_ticket,current_taglist)%>
  </p>
<%end  %>

<%= link_to "Back to Home Page", "/"%>

</div>