<div class="bg-image" style="background-image: url('https://i.pinimg.com/originals/c2/41/3b/c2413b33840fb46ca118fe3bb8c32cbf.jpg');
height: 96vh;">

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <h2>Log in</h2>
</div>
<br>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <div class="container ">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-row ">
          <div class="form-group col-6 mx-auto text-center">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control" %>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-6 mx-auto text-center">
        <%= f.label :password %><br />
        <%= f.password_field :password,  class: "form-control", autocomplete: "current-password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
         <div class="form-check text-center d-flex justify-content-center">
          <%= f.check_box :remember_me , class:"form-check-input",style: 'margin-right: 10px;'%>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<br>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <%= render "devise/shared/links" %>
</div>

