
<%= render partial: "layouts/adjust_background" %>

<%current_ticket= Ticket.find(params[:ticket_id])%>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>Tag lists</h1>
</div>
<br>

<div id="tag_lists">
  <% @tag_lists.each do |tag_list| %>
  <%if Ticket.find(tag_list.ticket_id) == current_ticket  %>
  <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
    <%= render tag_list %>
    
      <%if current_user.Executive?  %>
        <% if params[:ticket_list_id].present?%>
          <p>
            <%= link_to "Tag list detaills", user_ticket_list_ticket_tag_list_path(current_user,current_ticket.ticket_list,current_ticket,tag_list), class:"btn btn-warning mt-2"  %>
          </p>
        <%else  %>
           <p>
            <%= link_to "Tag list detaills", user_assign_ticket_ticket_tag_list_path(current_user,current_ticket.assign_ticket,current_ticket,tag_list), class:"btn btn-warning mt-2"  %>
          </p>
        <%end  %>
      <%elsif current_user.Supervisor? or current_user.Administrator? %>
        <p>
          <%= link_to "Tag list detaills", user_ticket_tag_list_path(current_user,current_ticket,tag_list), class:"btn btn-warning mt-2"  %>
        </p>

      <%end  %>
      
    
  </div>
  <br>
  <%end  %>
  <% end %>
</div>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<p class="mx-auto text-center", style="display: flex; flex-wrap: wrap;">

<%if current_user.Executive?  %>
  <% if params[:ticket_list_id].present?%>

    <%= link_to "Back to ticket", user_ticket_list_ticket_path(current_user,current_ticket.ticket_list,current_ticket), class:"btn btn-secondary mt-2", style:'margin-right: 10px;'%>

  <%else  %>

    <%= link_to "Back to ticket", user_assign_ticket_ticket_path(current_user,current_ticket.assign_ticket,current_ticket), class:"btn btn-secondary mt-2", style:'margin-right: 10px;'%>

  <%end  %>

<%elsif current_user.Supervisor? or current_user.Administrator? %>

    <%= link_to "Back to ticket", user_ticket_path(current_user,current_ticket), class:"btn btn-secondary mt-2", style:'margin-right: 10px;'%>

<%end  %>

<%= link_to "Back to Home Page", root_path ,class:"btn btn-outline-dark mt-2"%>

</p>
</div>
