<%total_tickets=0  %>
<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>Ticket lists</h1>
</div>

<br>

<div id="ticket_lists">
  <% @ticket_lists.each do |ticket_list| %>
  <%if (User.find(ticket_list.user_id) == current_user ) or ((current_user.Administrator? or current_user.Supervisor?)and (User.find(ticket_list.user_id)==User.find(params[:user_id])))%>
  <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
   <% @user_ticket_list_example= ticket_list  %>
   <%total_tickets+=1  %>
    <%= render ticket_list %>
    <p>
    <%= link_to "See Ticket info", user_ticket_list_ticket_path(ticket_list.user,ticket_list, ticket_list.ticket),class:"btn btn-sm btn-warning mt-2", style:'margin-right: 10px;' %>
      </p>
  </div>
  <br>
  <%end %>
  
  <% end %>
</div>


<%if total_tickets<2 %>
  <%= render partial: "layouts/adjust_background" %>
<%end  %>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<p class="mx-auto text-center", style="display: flex; flex-wrap: wrap;">
  <%if not @user_ticket_list_example.nil?  %>
    <%= link_to "See All Tickets", user_ticket_list_tickets_path(current_user,@user_ticket_list_example), class:"btn btn-primary mt-2", style:'margin-right: 10px;' %>
    <% @user_ticket_list_example= @user_ticket_list_example.user %>
   <%else %> 
    <% @user_ticket_list_example= User.find(params[:user_id])  %>
    <%end  %>

  <%if current_user.User?%>
      <%var =true %>
        <%= link_to "New Ticket", new_user_ticket_path(check_location: var), class:"btn btn-success mt-2", style:'margin-right: 10px;' %>
    <%elsif current_user.Executive?  %>
      <%var =true %>
        <%= link_to "New Ticket", new_user_ticket_path(check_location: var), class:"btn btn-success mt-2", style:'margin-right: 10px;' %>
  <%end  %>

    <%= link_to "Back to the user", user_path(@user_ticket_list_example), class:"btn btn-outline-info mt-2", style:'margin-right: 10px;'%>

    <%= link_to "Back to Home Page", root_path, class:"btn btn-dark mt-2" , style:'margin-right: 10px;'%>
</p>
</div>

